@import 'variables';
@import 'mixins';

.checkmark {
   background-image: url('../icons/tomato.png');
   width: 32px;
   height: 32px;
}

.form {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   // border: 1px solid $primary-color;

   display: flex;
   flex-direction: column;
   align-items: center;

   &__options-label {
      align-self: flex-start;
      font-weight: 700;
      font-size: 20px;
   }

   &__options {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding: 10px;
      margin-bottom: 10px;
   }

   &__option-container {
      position: relative;
      min-width: 120px;
      font-size: 18px;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
   }

   &__radio {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked + .form__checkmark {
         background-image: url('../icons/tomato-color.png');
      }
   }

   &__checkmark {
      height: 32px;
      width: 32px;
      margin-right: 8px;

      background-image: url('../icons/tomato.png');
      background-size: cover;
   }

   &__button {
      @include btn($primary-color);

      margin-top: 30px;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      &:hover {
         background-color: $primary-color;
         color: $secondary-color;
      }

      &:disabled {
         opacity: 0.5;
         cursor: not-allowed;
      }
   }
}
