@import 'variables';

.left {
   background-color: $secondary-color;
   color: $primary-color;

   &__header {
      text-transform: uppercase;
      font-size: 64px;
      text-align: center;
      padding: 20px;
   }
}
