@import 'variables';
@import 'mixins';

.right {
   color: $secondary-color;

   &__wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__counter {
      font-size: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #minutes {
         font-size: 220px;
         border-bottom: 1px solid $secondary-color;
      }
   }

   &__button {
      @include btn($secondary-color);
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

      &:hover {
         background-color: $secondary-color;
         color: $primary-color;
      }

      &:disabled {
         opacity: 0.3;
         cursor: not-allowed;
      }
   }

   &__streak {
      color: #000;
      margin-top: 20px;
      font-weight: 700;
   }
}
