@import 'variables';
@import 'form';
@import 'left';
@import 'right';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: $primary-color;
   display: flex;
}

.hide {
   display: none;
}

.container {
   position: relative;
   width: 50vw;
   height: 100vh;
}

.right-modal {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.93);
   top: 0;
   right: 0;
   color: #fff;

   &__wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   &__continue {
      font-size: 100px;
   }

   &__button {
      @include btn(#fff);

      margin-top: 30px;
   }
}
