@import 'variables';
@import 'form';
@import 'left';
@import 'right';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: $primary-color;
   display: flex;

   @media (max-width: 1024px) {
      flex-direction: column;
   }
}

.hide {
   display: none;
}

.container {
   position: relative;
   width: 50vw;
   height: 100vh;

   @media (max-width: 1024px) {
      width: 100vw;
      height: 90vh;
   }
}

.right-modal {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.93);
   bottom: 0;
   right: 0;
   color: #fff;

   &__wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   &__continue {
      font-size: 100px;

      @media (max-width: 600px) {
         font-size: 70px;
      }
      @media (max-width: 400px) {
         font-size: 50px;
      }
   }

   &__button {
      @include btn(#fff);

      margin-top: 30px;

      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

      &:hover {
         background-color: #fff;
         color: #000;
      }
   }
}

.clock {
   background-color: transparent;
   border: none;
   cursor: pointer;
   margin-top: 50px;
   position: absolute;
   bottom: -100px;

   &__icon {
      width: 50px;
      height: 50px;
      fill: #fff;
      transition: fill 0.1s ease-in;

      &--alarm {
         fill: $secondary-color;
         animation: shake 0.1s ease-in infinite;
      }
   }

   &__icon:hover {
      fill: #41b883;
   }
}

@keyframes shake {
   25% {
      transform: translateX(-2px);
   }
   75% {
      transform: translateX(2px);
   }
}
